{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <section>
            <form>
                <select id="country">
                    <option value="">Selecionar</option>
                    <option value="Australia">Australia</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Canada">Canada</option>
                </select>
                <div>
                    <table id="table"></table>
                </div>
            </form>
        </section>
    </main>
    <footer id="ultimo-acesso">
        <span>Ultimo acesso:</span>
        <span id="lastCountry"></span>
        <span id="lastData"></span>
    </footer>
    <script src="{{asset('javascript/script.js')}}"></script>

   
{% endblock %}

